$margin-bottom: 2%;
$gap: 20px;

@mixin flex-center($align: center) {
  display: flex;
  justify-content: center;
  align-items: $align;
}

.search-container {
  @include flex-center();
  margin-bottom: $margin-bottom;
}

.card-container {
  @include flex-center(end);
  flex-wrap: wrap;
  gap: $gap;
}
